@import url(../../../index.css);

header {
    height: fit-content;
    background-color: #22272e;
    opacity: 0.8;
    background: repeating-linear-gradient(45deg, #22272e, #22272e 5px, #000000 5px, #000000 25px);
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    gap: 1rem;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
}

@media (max-width: 570px) {
    header {
        grid-template-columns: 1fr;
        justify-content: center;
    }
}

.header__logo {
    width: 200px;
    height: 200px;
}

.form__pokemon {
    width: 300px;
    align-self: center;
}

.form__pokemon-label {
    display: block;
    text-align: left;
    width: 100%;

}

.form__pokemon-container {
    width: 100%;
}

.form__pokemon-input {
    height: 20px;
    padding: 1rem;
    border-radius: 4px;
    width: 60%;
    color: var(--text-2)
}

.form__pokemon-button {
    height: 54px;
    width: 54px;
    border-radius: 4px;
    margin-left: 1rem;
    background-color: #c43932;
    color: var(--text-1);
    font-size: 1.2rem;
}

.form__pokemon-text {
    font-weight: 100;
    font-size: 0.8em;
}

.header__back-button {
    width: 60px;
    height: 50px;
    clip-path: polygon(100% 0%, 100% 51%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-color: #c43932;
    border-radius: 0;
    color: var(--text-1);
    font-size: 1rem;
    margin-top: 1rem;
}

.header__form-button {
    display: inline-flex;
}

.header__back-container {
    justify-content: start;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
}

.form__pokemon-buttons {
    height: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}

.pagination {
    margin-top: 0.2rem;
    height: 1.4rem;
    justify-content: space-between;
    display: flex;
    align-items: center;

}

.pagination__button {
    border: none;
    background-color: var(--button-blue);
    color: var(--text-1);

    height: 20px;
    width: 20px;
    font-size: 1rem;
}

.pagination__button-left {
    margin-left: 5%;
    clip-path: polygon(100% 0, 100% 100%, 0 50%);

}

.pagination__button-right {
    margin-right: 5%;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
}