.pokecard__container {
    width: 260px;
    height: fit-content;
    padding: 1rem;
    background-color: rgb(34, 34, 34);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: all 0.1s ease-in-out;
}

.pokecard__container:hover {
    border: solid 3px #060708;
}

.pokecard__image {
    width: 200px;
    height: 200px;
}

.pokecard__type {
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    margin: 0 0.3rem 0 0.3rem;
    padding: 0.3rem;
}

.pokecard__name {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}