@import url(../../index.css);

.landing__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing__button {
    font-size: 2rem;
    background-color: var(--button-landing);
    color: var(--text);
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.landing__button:hover {}

.landing__logo {
    width: 400px;
    height: 150px;
    image-rendering: optimizeQuality;
}

.landing__teamPoke {
    width: 564px;
    height: 400px;
    image-rendering: optimizeQuality;
}