.buttonsFilter_container {
    width: 35vw;
    display: grid;
    grid-auto-rows: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 0.5rem;
}

.buttonsFilter__button {
    font-size: 0.8rem;
    height: 20px;
    width: 100px;
    padding: 0;
    margin: 0;
}